// Variables
$website-width: 1280px;
$main-color: #ffbc00;
$light-color: #f4f4f4;
$medium-color: #ccc;
$dark-color: #333;
$bg-image: url("../img/showcase.jpg"); //You write this code as if you are in the CSS folder already. That is why it is ../img rather than ../dist/img

// Set Text Color

// Function below reads as: If background color is above 50% lightness then text will be black, else it will be white
@function set-text-color($color) {
  @if (lightness($color) > 50) {
    @return #000;
  } @else {
    @return #fff;
  }
}
